body {
    font-family: "Open Sans",sans-serif;
    color: #444
}

a {
    color: #5c9f24;
    text-decoration: none
}

    a:hover {
        color: #74c92d;
        text-decoration: none
    }

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto,sans-serif
}

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #5c9f24;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all .4s
}

    .back-to-top i {
        font-size: 28px;
        color: #fff;
        line-height: 0
    }

    .back-to-top:hover {
        background: #6fc02c;
        color: #fff
    }

    .back-to-top.active {
        visibility: visible;
        opacity: 1
    }

#header {
    background: rgba(0,0,0,.75);
    transition: all .5s;
    z-index: 997;
    height: 80px
}

    #header .logo {
        font-size: 28px;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase
    }

        #header .logo a {
            color: #fff
        }

        #header .logo img {
            max-height: 40px
        }

.navbar {
    padding: 0
}

    .navbar ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center
    }

    .navbar li {
        position: relative
    }

    .navbar > ul > li {
        white-space: nowrap;
        padding: 10px 0 10px 22px
    }

    .navbar a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 4px;
        font-family: Roboto,sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: rgba(255,255,255,.7);
        white-space: nowrap;
        transition: .3s;
        text-transform: uppercase;
        position: relative
    }

        .navbar a i {
            font-size: 12px;
            line-height: 0;
            margin-left: 5px
        }

    .navbar > ul > li > a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -6px;
        left: 0;
        background-color: #5c9f24;
        visibility: hidden;
        width: 0;
        transition: all .3s ease-in-out 0s
    }

    .navbar .active:before, .navbar a:hover:before, .navbar li:hover > a:before {
        visibility: visible;
        width: 100%
    }

    .navbar .active, .navbar a:hover, .navbar li:hover > a {
        color: #fff
    }

    .navbar .getstarted {
        padding: 8px 25px;
        margin-left: 12px;
        border-radius: 4px;
        color: #fff;
        font-weight: 400;
        font-family: Poppins,sans-serif;
        border: 2px solid #5c9f24
    }

        .navbar .getstarted:hover {
            color: #fff;
            background: #5c9f24
        }

            .navbar .getstarted:hover:before, .navbar li:hover > .getstarted:before {
                visibility: hidden
            }

.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: .5s
}

@media (max-width:991px) {
    .mobile-nav-toggle {
        display: block
    }

    .navbar ul {
        display: none
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(17,17,17,.9);
    transition: .3s;
    z-index: 999
}

    .navbar-mobile .mobile-nav-toggle {
        position: absolute;
        top: 15px;
        right: 15px
    }

    .navbar-mobile ul {
        display: block;
        position: absolute;
        top: 55px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        padding: 10px 0;
        background-color: #fff;
        overflow-y: auto;
        transition: .3s
    }

    .navbar-mobile a {
        padding: 10px 20px;
        font-size: 15px;
        color: #2a2a2a
    }

        .navbar-mobile .active, .navbar-mobile a:hover, .navbar-mobile li:hover > a {
            color: #5c9f24
        }

    .navbar-mobile > ul > li {
        white-space: nowrap;
        padding: 0
    }

    .navbar-mobile .active:before, .navbar-mobile a:hover:before, .navbar-mobile li:hover > a:before {
        visibility: hidden
    }

    .navbar-mobile .getstarted {
        margin: 15px;
        color: #5c9f24;
        padding-left: 15px
    }

section {
    padding: 60px 0
}

.section-title {
    text-align: center;
    padding-bottom: 30px
}

    .section-title h2 {
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-bottom: 0;
        color: #5c9f24
    }

    .section-title p {
        margin-bottom: 0
    }

h3 {
    text-align: center;
    font-size: 42px
}

.imageLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
    width: 540px;
    height: 370px;
}

.about .content {
    margin-top: 40px;
}

    .about .content h3 {
        margin-top: 50px;
        font-weight: 700;
        font-size: 34px
    }

    .about .content p {
        margin-bottom: 0
    }

    .about .content .icon-box {
        margin-top: 25px
    }

        .about .content .icon-box h4 {
            font-size: 20px;
            font-weight: 700
        }

        .about .content .icon-box i {
            font-size: 48px;
            float: left;
            color: #5c9f24;
            justify-content: center
        }

        .about .content .icon-box p {
            font-size: 15px;
            color: #848484;
            margin-left: 60px
        }

@media (max-width:991px) {
    .about {
        text-align: center
    }

        .about img {
            max-width: 80%
        }
}

@media (max-width:667px) {
    .about img {
        max-width: 100%
    }
}

.counts {
    padding: 0 0 30px 0
}

    .counts .count-box {
        padding: 30px;
        width: 100%
    }

        .counts .count-box i {
            display: block;
            font-size: 44px;
            color: #5c9f24;
            float: left;
            line-height: 0
        }

        .counts .count-box span {
            font-size: 48px;
            line-height: 40px;
            display: block;
            font-weight: 700;
            color: #2a2a2a;
            margin-left: 60px
        }

        .counts .count-box p {
            padding: 15px 0 0 0;
            margin: 0 0 0 60px;
            font-family: Roboto,sans-serif;
            font-size: 14px;
            color: #505050
        }

        .counts .count-box a {
            font-weight: 600;
            display: block;
            margin-top: 20px;
            color: #505050;
            font-size: 15px;
            font-family: Poppins,sans-serif;
            transition: ease-in-out .3s
        }

            .counts .count-box a:hover {
                color: #777
            }

.services .icon-box {
    margin-bottom: 20px;
    text-align: center
}

.services .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 50%;
    transition: .5s;
    color: #5c9f24;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0,0,0,.15)
}

    .services .icon i {
        font-size: 36px;
        line-height: 0
    }

.services:hover .icon {
    box-shadow: 0 0 25px rgba(92,159,36,.3)
}

.services .title {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
    position: relative;
    padding-bottom: 15px
}

    .services .title a {
        color: #444;
        transition: .3s
    }

        .services .title a:hover {
            color: #5c9f24
        }

    .services .title::after {
        content: '';
        position: absolute;
        display: block;
        width: 50px;
        height: 2px;
        background: #5c9f24;
        bottom: 0;
        left: calc(50% - 25px)
    }

.services .description {
    line-height: 24px;
    font-size: 14px
}

.why-us .box {
    padding: 50px 30px;
    box-shadow: 0 2px 15px rgba(0,0,0,.1);
    transition: all ease-in-out .3s
}

    .why-us .box span {
        display: block;
        font-size: 28px;
        font-weight: 700;
        color: #8ed851
    }

    .why-us .box h4 {
        font-size: 24px;
        font-weight: 600;
        padding: 0;
        margin: 20px 0;
        color: #2a2a2a
    }

    .why-us .box p {
        color: #aaa;
        font-size: 15px;
        margin: 0;
        padding: 0
    }

    .why-us .box:hover {
        background: #5c9f24;
        padding: 30px 30px 70px 30px;
        box-shadow: 10px 15px 30px rgba(0,0,0,.18)
    }

        .why-us .box:hover h4, .why-us .box:hover p, .why-us .box:hover span {
            color: #fff
        }

.team {
    background: #fff;
    padding: 60px 0
}

    .team .member {
        text-align: center;
        margin-bottom: 20px;
        background: #343a40;
        position: relative
    }

        .team .member .member-info {
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
            transition: .2s
        }

        .team .member .member-info-content {
            margin-top: -50px;
            transition: margin .2s
        }

        .team .member:hover .member-info {
            background: rgba(0,0,0,.7);
            opacity: 1;
            transition: .4s
        }

        .team .member:hover .member-info-content {
            margin-top: 0;
            transition: margin .4s
        }

        .team .member h4 {
            font-weight: 700;
            margin-bottom: 2px;
            font-size: 18px;
            color: #fff
        }

        .team .member span {
            font-style: italic;
            display: block;
            font-size: 13px;
            color: #fff
        }

        .team .member .social {
            margin-top: 15px
        }

            .team .member .social a {
                transition: color .3s;
                color: #fff
            }

                .team .member .social a:hover {
                    color: #5c9f24
                }

            .team .member .social i {
                font-size: 18px;
                margin: 0 2px
            }

.row {
    justify-content: center;
    align-items: center
}

.contact .contact-info {
    margin-bottom: 20px;
    text-align: center
}

    .contact .contact-info i {
        font-size: 48px;
        display: inline-block;
        margin-bottom: 10px;
        color: #5c9f24
    }

    .contact .contact-info address, .contact .contact-info p {
        margin-bottom: 0;
        color: #000
    }

    .contact .contact-info h3 {
        font-size: 18px;
        margin-bottom: 15px;
        font-weight: 700;
        text-transform: uppercase;
        color: #999
    }

    .contact .contact-info a {
        color: #000
    }

        .contact .contact-info a:hover {
            color: #5c9f24
        }

.contact .contact-address, .contact .contact-email, .contact .contact-phone {
    margin-bottom: 20px
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600
}

    .contact .php-email-form .error-message br + br {
        margin-top: 25px
    }

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px
}

    .contact .php-email-form .loading:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: #eee;
        -webkit-animation: animate-loading 1s linear infinite;
        animation: animate-loading 1s linear infinite
    }

.contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    height: auto;
    padding: 10px 15px;
    border-radius: 4px
}

    .contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
        border-color: #5c9f24
    }

.contact .php-email-form button[type=submit] {
    background: #5c9f24;
    border: 0;
    padding: 10px 30px 12px 30px;
    color: #fff;
    transition: .4s;
    border-radius: 4px
}

    .contact .php-email-form button[type=submit]:hover {
        background: #6ab82a
    }

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

@media (min-width:768px) {
    .contact .contact-phone {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd
    }

    .contact .contact-address, .contact .contact-email, .contact .contact-phone {
        padding: 20px 0
    }
}

#footer {
    background: #111;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px
}

    #footer .footer-top {
        background: #1d1d1d;
        border-bottom: 1px solid #2f2f2f;
        padding: 60px 0 30px 0
    }

        #footer .footer-top .footer-info {
            margin-bottom: 30px
        }

            #footer .footer-top .footer-info h3 {
                font-size: 24px;
                margin: 0 0 20px 0;
                padding: 2px 0 2px 0;
                line-height: 1;
                font-weight: 700
            }

            #footer .footer-top .footer-info p {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 0;
                font-family: Roboto,sans-serif;
                color: #fff
            }

        #footer .footer-top .social-links a {
            font-size: 18px;
            display: inline-block;
            background: #2a2a2a;
            color: #fff;
            line-height: 1;
            padding: 8px 0;
            margin-right: 4px;
            border-radius: 50%;
            text-align: center;
            width: 36px;
            height: 36px;
            transition: .3s
        }

            #footer .footer-top .social-links a:hover {
                background: #5c9f24;
                color: #fff;
                text-decoration: none
            }

        #footer .footer-top h4 {
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            position: relative;
            padding-bottom: 12px
        }

        #footer .footer-top .footer-links {
            margin-bottom: 30px
        }

            #footer .footer-top .footer-links ul {
                list-style: none;
                padding: 0;
                margin: 0
            }

                #footer .footer-top .footer-links ul i {
                    padding-right: 2px;
                    color: #8ed851;
                    font-size: 18px;
                    line-height: 1
                }

                #footer .footer-top .footer-links ul li {
                    padding: 10px 0;
                    display: flex;
                    align-items: center
                }

                    #footer .footer-top .footer-links ul li:first-child {
                        padding-top: 0
                    }

                #footer .footer-top .footer-links ul a {
                    color: #fff;
                    transition: .3s;
                    display: inline-block;
                    line-height: 1
                }

                    #footer .footer-top .footer-links ul a:hover {
                        color: #81d33d
                    }

    #footer .copyright {
        text-align: center;
        padding-top: 30px
    }

    #footer .credits {
        padding-top: 10px;
        text-align: center;
        font-size: 13px;
        color: #fff
    }
