body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('Image/wp1828920.jpg');
    background-size: cover;
    background-position: center center;
    margin: auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.container-body-content {
    color: red;
    margin-left: 40%
}
a.login-btn, a.login-btn-default {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
