body {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('file:///C:\Users\lukaa\Desktop\1.jpg');
    background-size: cover;
    background-position: center center;
    margin: auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
    
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.naslov{
    color:yellow;
}